<div class="card text-bg-light mb3">
    <div class="card-header">Unidades de negocio</div>
    <div class="card-body">
        <button class="btn btn-secondary my-2" routerLink="/unidadnegocio/form">Crear</button>
        <div class="alert alert-info" *ngIf="lista?.length == 0">
            No hay unidades de negocio
        </div>
        <table class="table table-hover table-striped" *ngIf="lista?.length> 0">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Unidad Padre</th>
                    <th>Gerente</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of lista">
                    <td> {{u?.nombre | titlecase}} </td>
                    <td> {{u?.unidadPadre?.nombre | titlecase}} </td>
                    <td> {{u.gerente?.nombre | titlecase}} </td>
                    <td>
                        <button class="btn btn-secondary btn-sm"
                                [routerLink]="['/unidadnegocio/form', u.id]">
                            Editar
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="eliminar(u)">
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>